@font-face {
    font-family: Breitkopf;
    src: url(BreitkopfFraktur.ttf);
}

.header{
    width: 100%;
    text-align: center;
    font-family: Breitkopf;
    background-color: whitesmoke;
    color: black;
    margin-bottom: 10vh;
    font-size: 2em;
}

.content{
    padding-bottom: 40vh;
}

body{
    background-color:darkslategray;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    margin: 0 0 0 0;
    color: whitesmoke;
    text-align: center;
}